<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="card">
    <div class="header">
      <h2>
        {{operacao}} Produto
      </h2>
      <ul class="header-dropdown m-r--5">
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                      <i class="material-icons">more_vert</i>
                  </a>
          <ul class="dropdown-menu pull-right">
            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
            <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="body">
      <form #formulario="ngForm" novalidate>
        <div class="form-group form-float form-line">
            <mat-form-field>
              <input matInput
                  name="codigoTuss"
                  class="form-control"
                  type="text"
                  [(ngModel)]="objeto.codigoTuss"
                  [placeholder]="'Código Tuss' | localize"
                  #nome="ngModel"
                  #foco 
                  required/>
          </mat-form-field>           
        </div>  
        <div class="form-group form-float form-line">
            <mat-form-field>
              <input matInput
                  name="nome"
                  class="form-control"
                  type="text"
                  [(ngModel)]="objeto.nome"
                  [placeholder]="'Nome' | localize"
                  required/>
          </mat-form-field>
        </div>
        <div class="form-group form-float form-line">
            <mat-form-field>
              <input matInput
                  name="referenciaFabricante"
                  class="form-control"
                  type="text"
                  [(ngModel)]="objeto.referenciaFabricante"
                  [placeholder]="'Referência do Fabricante' | localize"/>
          </mat-form-field>
        </div>
        <div class="form-group form-float form-line">
          <mat-form-field>
            <input matInput
                name="numeroRegistroAnvisa"
                class="form-control"
                type="text"
                [(ngModel)]="objeto.numeroRegistroAnvisa"
                [placeholder]="'Número de Registro na Anvisa' | localize"/>
          </mat-form-field>
        </div>
        <div class="row clearfix">
            <div class="col-sm-6">
              <div class="form-group form-float">
                  <mat-form-field>
                      <input
                        matInput
                        [matDatepicker]="pickerVencimento"
                        (focus)="pickerVencimento.open()"
                        name="dataVencimentoAnvisa"
                        placeholder="Data Vencimento Anvisa"
                        [(ngModel)]="dataVencimentoAnvisa"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerVencimento"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #pickerVencimento></mat-datepicker>
                    </mat-form-field> 
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group form-float">
                  <mat-form-field>
                      <input matInput
                          name="quantidadeEstoque"
                          class=""
                          type="number"
                          [(ngModel)]="objeto.quantidadeEstoque"
                          [placeholder]="'Quantidade no estoque' | localize"/>
                    </mat-form-field>
              </div>
            </div>            
          </div>
        <!-- <div class="row clearfix">
          <div class="col-sm-6">
              <div class="form-group form-float">
                  <mat-form-field>
                      <input
                        matInput
                        [matDatepicker]="pickerVencimento"
                        (focus)="pickerVencimento.open()"
                        name="dataVencimentoAnvisa"
                        placeholder="Data Vencimento Anvisa"
                        [(ngModel)]="dataVencimentoAnvisa"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerVencimento"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #pickerVencimento></mat-datepicker>
                    </mat-form-field>                
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group form-float">
                  <mat-form-field>
                    <input matInput
                        name="quantidadeEstoque"
                        class="form-control"
                        type="number"
                        [(ngModel)]="objeto.quantidadeEstoque"
                        [placeholder]="'Quantidade no estoque' | localize"/>
                  </mat-form-field>
              </div>
          </div>         
        </div> -->
        <div class="form-group form-float form-line">
            <ng-select [items]="fornecedores"
                        name="fornecedor"
                        bindLabel="razaoSocial"                              
                        [(ngModel)]="fornecedor"
                        placeholder="Selecione o fornecedor">
            </ng-select>                
        </div>
        <br>
        <div class="form-group form-float">
          <div class="form-line text-right">
            <button [disabled]="!formulario.form.valid || saving" type="submit" class="btn btn-primary m-t-15 waves-effect" (click)="save();">SALVAR</button>
            <button [disabled]="saving" type="button" class="btn btn-default  m-l-10 m-t-15 waves-effect" (click)="cancel()">
                          CANCELAR
                      </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>